/*wp-pagenavi 01*/
.wp-pagenavi {
	clear: both;
    text-align:center;
    padding-top: 50px;
    padding-bottom: 50px;

    a, span {
        font-size: 1.6rem;
        font-weight: bold;
        color: $c-menu;
        border: 1px solid #707070;
        padding: 8px 15px;
        margin: 0 2px;
        white-space: nowrap;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        text-align: center;
        text-decoration: none;
        }

        a.previouspostslink {
            border: none;
            font-weight: bold;
        }

        a.nextpostslink {
            border: none;
            font-weight: bold; 
        }
        
        span.pages {
            border: none;
        }

        span.current{
        color: #FFF;
        background-color: #3c2b1c;
        border-color: #3c2b1c;
        font-weight: bold;
        }
}