.cheeseburger-container-right {
    h3 {
        padding-top: 50px;

        a {
        font-size: 3.6rem;
            line-height: 1.9rem;
            text-align: left;
            padding-left: 9.3%;
            padding-top: 20px;
            color: white;
        }
    }

        .date {
            font-size: 1.6rem;
            line-height: 1.9rem;
            text-align: left;
            padding-left: 9.3%;
            padding-top: 20px;
        }
    .excerpt {
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-align: left;
        padding-left: 9.3%;
        padding-right: 9.3%;
        padding-top: 20px;
        padding-bottom: 20px;;

        p a {
            font-size: 1.6rem;
            line-height: 1.9rem;
            text-align: left;
            // padding-left: 9.3%;
            color: white;
        }
    }
}