.l-black-screen {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 200;
    display: none;
}

.l-largest-wrapper {
    display: flex;
    z-index: 100;
}

.l-main-wrapper {
    width: 81%;
}

    @include md {

    .l-black-screen {
        display: none;
    }

    .l-black-screen.clicked {
        display: block;
    }

    .l-largest-wrapper {
        display: block;
    }

    .l-main-wrapper {
        width: 100%;
    }
}

// @include sm {
//     .l-black-screen {
//         height: 283px;
//     }    
// }
