.l-footer-container {
    color:white;
    height: auto;
    width: 100%;
    background-color: #9D8670;
    font-size: 20px;
    text-align: center;

    .shop-info, .history {
        color: white;
    }

    p {
        padding-top: 43px;
        padding-bottom: 39px;

        a {
            text-decoration: none;
        }

      }
    .copyright {
        margin-left: 0;
        color: #FFFFFF;
        font-size: 1.4rem;
        font-weight: normal;
    }  
  }


  @include md {
      .copyright {
          margin-left: 0;
          margin-bottom: 0;
      }
  }  

  @include sm {
      .copyright {
          margin-bottom: 0;
      }
  }  