.l-sidebar-container {
    width: 19%;
    background-color: #F2EDE9;
    padding-top: 217px;
    // padding-left: 46px;
    padding-left: 2%;

    :any-link {
      color: $c;
    }

    #my-cross {
        display: none;
      } 

    #menu-item-31 > a {
      font-size: 2.4rem;
      font-weight: bold;
      padding-top: 217px;
    }  

    #menu-item-174 > a {
      font-size: 2.4rem;
      font-weight: bold;
    }  

    #menu-item-32 > a {
      font-size: 2.4rem;
      font-weight: bold;
    }  

    .menu-item a {
      text-decoration: none;
    }

    ul.menu {
        list-style-type: none;
        font-family: "mplus 1m";
        font-size: 2.0rem;
        padding-left: 18.0%;
        color: #707070;
        line-height: 2.35;


        .menu a {
          font-size: 2.4rem;
          font-weight: bold;
        }

        .menu li a {
          text-decoration: none;
        }

        ul.sub-menu li {
          list-style-type: none;
          padding-left: 5%;
          // text-decoration: none;
        }

        .burger {
            font-family: "mplus 1m";
            font-size: 24px;
            font-weight: bold;
            padding-top: 90px;
            padding-left: 12.5%;
            color: #707070;
          }

        .side {
            font-family: "mplus 1m";
            font-size: 24px;
            font-weight: bold;
            padding-top: 45px;
            padding-left: 12.5%;
            color: #707070;
        }  

        .beverage {
            font-family: "mplus 1m";
            font-size: 24px;
            font-weight: bold;
            padding-top: 45px;
            padding-left: 12.5%;
            color: #707070;
          }
      }  

  }

  @include md {
    
    .l-sidebar-container {
        display: none;
        position: relative;

        #my-cross {
            display: block;
            color: #707070;
            float: right;
            // margin-top: 25px;
            // margin-right: 25px;  
            z-index: 100;
            position: absolute;
            top: 25px;
            right: 25px;
          }
         
        .burger {
            padding-top: 217px;
            padding-left: 12.5%;
          }  
      }

    .l-sidebar-container.clicked {
        display: block;
        float: right;
        width: 44%;
        z-index: 300;
        position: absolute;
        top: 0;
        left: 56%;
        height: 100%;
    }
  }   