.p-takeout-eatin-container {
    width: 100%;
    background-color: #FFFDFA;
    display: flex;
    justify-content: space-between;

    .takeout-container {
        position: relative;
        height: auto;
        width: 40%;
        margin-top: 120px;
        margin-left: 7.1%;

        .p-h2title {
            position: absolute;
            top: 5%;
            left: 5%;
            color: #EAEAEA;
            font-weight: bold;
            font-family: Robote;
            font-size: 5.0rem;
        }

        img {
            height: auto;
            width: 100%;
          }

        .p-info1-container {
        position: absolute;
        top: 67.6%;
        left: 3.2%;
        height: 14.6%;
        width: 93.6%;
        background-color: #FFFFFF;
        opacity: 0.5;

            p {
                font-family: "M PLUS 1P";
                font-weight: bold;
                font-size: 2.4rem;
                color: #3C2A10;
                padding-top: 1.3%;
                padding-left: 3.2%;
            }
            
            .p-info1-text {
                font-family: "M PLUS 1P";
                font-weight: bold;
                font-size: 1.6rem;
                color: #3C2A10;
                padding-top: 1.8%;
                padding-left: 3.2%;
                padding-right: 4.3%;
                height: 60%;
                width: 100%;
                overflow: hidden;
            }  
        }  

        .p-info2-container {
            position: absolute;
            bottom: 1.7%;
            right: 3.2%;
            height: 14.6%;
            width: 93.6%;
            background-color: #FFFFFF;
            opacity: 0.5;

            p {
                font-family: "M PLUS 1P";
                font-weight: bold;
                font-size: 2.4rem;
                color: #3C2A10;
                padding-top: 1.3%;
                padding-left: 3.2%;
              }

            .p-info2-text {
                font-family: "M PLUS 1P";
                font-weight: bold;
                font-size: 1.6rem;
                color: #3C2A10;
                padding-top: 1.8%;
                padding-left: 3.2%;
                padding-right: 4.3%;
                height: 60%;
                width: 100%;
                overflow: hidden;
            }  
        }
    }

    .eatin-container {
        position: relative;
        margin-top: 120px;
        margin-right: 7.1%;
        width: 40%;
        height: auto;

        .p-h2title {
            position: absolute;
            top: 5%;
            left: 5%;
            color: #EAEAEA;
            font-weight: bold;
            font-family: Robote;
            font-size: 5.0rem;
          }
          

        img {
            height: auto;
            width: 100%;
          }

        .p-info3-container {
            position: absolute;
            top: 67.6%;
            left: 3.2%;
            height: 14.6%;
            width: 93.6%;
            background-color: #FFFFFF;
            opacity: 0.5;

            p {
                font-family: "M PLUS 1P";
                font-weight: bold;
                font-size: 2.4rem;
                color: #3C2A10;
                padding-top: 1.3%;
                padding-left: 3.2%;
              }

            .p-info3-text {
                font-family: "M PLUS 1P";
                font-weight: bold;
                font-size: 1.6rem;
                color: #3C2A10;
                padding-top: 1.8%;
                padding-left: 3.2%;
                padding-right: 4.3%;
                height: 60%;
                width: 100%;
                overflow: hidden;
            }  
        } 
        
        .p-info4-container {
            position: absolute;
            bottom: 1.7%;
            right: 3.2%;
            height: 14.6%;
            width: 93.6%;
            background-color: #FFFFFF;
            opacity: 0.5;

            p {
                font-family: "M PLUS 1P";
                font-weight: bold;
                font-size: 2.4rem;
                color: #3C2A10;
                padding-top: 1.3%;
                padding-left: 3.2%;
              }

            .p-info4-text {
                font-family: "M PLUS 1P";
                font-weight: bold;
                font-size: 1.6rem;
                color: #3C2A10;
                padding-top: 1.8%;
                padding-left: 3.2%;
                padding-right: 4.3%;
                height: 60%;
                width: 100%;
                overflow: hidden;
            }  
        }
    }
}

.p-map-container {
    margin-top: 134px;
    height: auto;
    width: 100%;
    background-color:#000000;
    position: relative;

    .p-map {  
        width: 100%;
        height: 60rem;
        vertical-align: bottom;
        //new
        opacity: 0.7;
      }  

    .p-info-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 61.2%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
        
        p {
            position: absolute;
            top: 50px;
            left: 7.7%;
            color: white;
            font-size: 5.0rem;
            font-weight: bold;
        }

        .p-text {
            position: absolute;
            top: 250px;
            left: 7.7%;
            color: white;
            font-size: 1.4rem;
            font-weight: bold;
            line-height: 3.3rem;
            width: 73.4%;
            height: auto;
            max-height: 380px;
            overflow: hidden;
        }  
    }   
}

    @include md {  
.p-takeout-eatin-container {
    .takeout-container {
        .p-h2title {
            font-size: calc(40px + ((1vw - 7.1px) * 2.5));
        }
    }
    .eatin-container {
        .p-h2title {
            font-size: calc(40px + ((1vw - 7.1px) * 2.5));
        }
    }
}
    .p-map-container {    

        .p-info-container {
            width: 100%;

            p {
                font-size: calc(40px + ((1vw - 7.1px) * 2.5));
            }

            .p-text {
                top: 200px;
            }
        }
    }    
}

    @include sm {
    .p-takeout-eatin-container {
        display: block;

        .takeout-container {
            width: 90%;
            margin: 120px auto 0;

            .p-h2title {
                font-size: 4.0rem;
            }
        }

        .eatin-container {
            width: 90%;
            margin: 120px auto 0;

            .p-h2title {
                font-size: 4.0rem;
            }
        }
    }

    .p-map-container {
        .p-info-container {
            height: 50%;

            p {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 46px; 
                margin-left: 11.2%;
                font-size: 4.0rem;
            }

            .p-text {
                position: absolute;
                top: 200px;
                left: 11.2%;
                width: 78.7%;
            }
        }
    }        
}